@font-face {
    font-family: 'kirifontnormal';
    src: url('../fonts/kirifont-webfont.eot');
    src: url('../fonts/kirifont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kirifont-webfont.woff2') format('woff2'),
         url('../fonts/kirifont-webfont.woff') format('woff'),
         url('../fonts/kirifont-webfont.ttf') format('truetype'),
         url('../fonts/kirifont-webfont.svg#kirifontnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}